<h1><%= series.name %> - <%= chapter.name %></h1>

<hr>

<p>Ngày đăng: <%= chapter.postedDate %></p>
<% if (chapter.status == -1) { %>
    <a href="/verify-chapter/<%= chapter._id %>" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Duyệt</a>
    <a href="/reject-chapter/<%= chapter._id %>" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Từ chối</a>
<% } %>

<div class="container">
    <% chapter.imageList.forEach(image => { %>
        <img src="<%= image %>" alt="" style="width: 100%;">
    <% }) %>
</div>